@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.active{
    color:var(--main-company-color) !important;

    span{       
        color: var(--main-company-color) !important;
    }
}
.sidebar.sidebar__close .active {
    color:var(--secondry-color);
        .sidebar__sub-menu{
            .sidebar__active-submenu-indicator{
                opacity: 1;
            }
        }

        
    
}

