.dashboard__container{
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @media screen and(max-width:610px){
        justify-content: center;
    }
}