.upload-documents__container-dropzone{
    width: 100%;
    padding: 30px;
    min-height:30vh;
    display: flex;
    
    z-index: 109;
    .upload-documents__dragdrop-zone{
        margin: 10px;
        z-index: 109;
        cursor: pointer;
        width: 100%;
        outline: none;
        // height: 400px;
        padding: 10px;
        background-color:white;
        border: 2px solid var(--main-color) ;
        border-radius: 5px ;
        border-style: dashed;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .upload-documents__icons-files{
            font-size: 4rem;
            margin-bottom: 10px;
        }
        @media screen and(max-width:600px) {
            height: 300px;
        }
        h2{
            word-break: break-all;
        }
        p{
            user-select: none;
        }
        &:hover{
            border-color: var(--main-company-color) ;
        }
        &:focus{
            border-color: var(--main-company-color) ;
        }
    }

}
.upload-documents__container-file-charged{
    width: 60%;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: flex-end;
    border-radius: 5px;
    background-color: cyan;
    font-size: 15px;
    z-index: 120;
    cursor:auto;
    .upload-documents__file-charged-name{
        margin-right: auto;
        margin-left: 20px;
    }
    .upload-documents__file-charged-item{
        padding: 10px;
        width: 40px;
        height: 40px;
        margin: 10px;
        background: grey;
        border-radius: 50%;
    }
}
