.wrapper{
    padding: 10px;
    overflow-x: hidden;
    padding-top: 80px;
    height: 100vh;
    word-break: break-all;
    margin-left: 78px;
    // background: var(--second-bg-color);
    background:#E4E9F7;
    // position: fixed;
    // width: calc(100% - 260px);
    // left: 260px;
    // z-index: -1;
    // // transition: margin-left,left,width.5s;
    // transition: all 0.5s ease;
    &::-webkit-scrollbar{
		width: 9px;
		height: 9px;
		background-color: var(--second-bg-color);
	  }
	  &::-webkit-scrollbar-thumb{
		background-color: var(--main-color);
		border-radius: 10rem;
		border: 1px solid var(--main-bg-color);
	  }
}
// .sidebar.sidebar__close {
//   .wrapper{
//     width: 100% !important;
//     margin-left:0px !important;
//     background: red !important;
//   }
// }
@media only screen and (max-width: 600px) {

    .wrapper {
        margin-left: 78px;
    }
    .sidebar__expand .wrapper {
        margin-left: 0;
    }

}